// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//custom
$mainBackground: #F1F5F8;
$mainFont: #435769;
$secondFont: #98617d;
$mainButton: #698F3F;
$footerBackgroung: #3A3E3B;
$buttonLight: #F1F5F8;
$darkBoxShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$backgroungImageFradient: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
