@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-thumb {
  background: slategray;
}

*::-webkit-scrollbar-track {
  background: #b8c0c8;
}

* {
  scrollbar-face-color: slategray;
  scrollbar-track-color: #b8c0c8;
}

*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: initial !important;
}

ul {
  list-style: none !important;
}

.cta {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  color: #435769;
  background: transparent;
  border: 2px solid #98617d !important;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  position: relative;
  transition: 0.3s ease-in-out;
  transition-property: background-color, color;
  z-index: 1;
  outline: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #98617d;
  transition: transform 0.7s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.cta:hover:before {
  transform: scaleX(1);
}

.cta:hover,
.cta:focus {
  color: white !important;
}

.buttons {
  background-color: transparent;
  border: none;
}

.buttons:focus {
  outline: none;
}

.standart-button {
  width: 170px;
  background-color: #98617d;
  padding: 5px 30px;
  color: white !important;
  transition: all 0.3s ease;
}

.standart-button:hover {
  background-color: #c484a5 !important;
}

.breadcrumbs {
  padding-left: 10%;
}

.breadcrumbs .breadcrumbs_item {
  display: inline-block;
}

.breadcrumbs .breadcrumbs_item:after {
  content: "\203A";
  margin: 0 5px;
  color: #747b82;
  font-size: 18px;
}

.breadcrumbs .breadcrumbs_item:last-child:after {
  content: none;
}

.breadcrumbs .breadcrumbs_item .breadcrumbs_link {
  font-size: 14px;
  color: #747b82 !important;
}

.breadcrumbs .breadcrumbs_item .breadcrumbs_link_active {
  font-weight: 600 !important;
  color: #435769 !important;
}

.txtb {
  border-bottom: 1px solid #adadad;
  position: relative;
  margin-top: 30px;
  background-color: transparent;
}

.txtb .login-form-span {
  pointer-events: none;
}

.txtb .login-form-span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #98617d;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.txtb input {
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: #333;
  border: none;
  outline: none;
  background: none;
  padding: 0 3px;
}

.txtb input:focus + .login-form-span:after {
  transform: translateX(0);
}

body {
  font-family: "Nunito Sans", sans-serif;
}

body .portofolio {
  color: white;
  background: radial-gradient(#2b3760, #0b1023);
}

body .portofolio header nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

body .portofolio header nav .logo {
  font-size: 20px;
}

body .portofolio header nav .logo,
body .portofolio header nav #menu {
  z-index: 2;
}

body .portofolio header nav #menu {
  cursor: pointer;
}

body .portofolio header nav i {
  font-size: 30px;
  cursor: pointer;
}

body .portofolio header .page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

body .portofolio header .page .details {
  grid-column: 2/3;
  align-self: end;
}

body .portofolio header .page .details h1 {
  font-size: 64px;
}

@media (max-width: 1024px) {
  body .portofolio header .page .details h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  body .portofolio header .page .details h1 {
    font-size: 38px;
  }
}

body .portofolio header .page .details h2 {
  font-size: 42px;
  font-weight: 300;
  padding: 20px 0;
}

@media (max-width: 1024px) {
  body .portofolio header .page .details h2 {
    font-size: 38px;
  }
}

@media (max-width: 768px) {
  body .portofolio header .page .details h2 {
    font-size: 28px;
  }
}

body .portofolio header .page .details p {
  font-size: 24px;
  padding: 20px 0 50px 0;
}

@media (max-width: 1024px) {
  body .portofolio header .page .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
  }
}

body .portofolio header .page .hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-self: center;
  display: flex;
}

body .portofolio header .page .hero a {
  display: flex;
}

body .portofolio header .page .hero a .model-right {
  transform: translate(0%, 10%);
}

body .portofolio header .page .hero a .model-left {
  transform: translate(0%, -10%);
}

body .portofolio header .page .hero a:hover .model-right {
  transform: translate(0%, 0%);
}

body .portofolio header .page .hero a:hover .model-left {
  transform: translate(0%, 0%);
}

body .portofolio header .page .hero a img {
  width: 100%;
  height: 500px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  body .portofolio header .page .hero a img {
    height: 500px;
  }
}

@media (max-width: 768px) {
  body .portofolio header .page .hero a img {
    height: 400px;
  }
}

@media (max-width: 1024px) {
  body .portofolio header .page .hero a {
    grid-column: 2/3;
    height: auto;
  }
}

@media (max-width: 1024px) {
  body .portofolio header .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }
}

body .portofolio header .chef,
body .portofolio header .hairstyle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
}

body .portofolio header .pages {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

body .portofolio header .pages div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .portofolio header .pages h3 {
  font-size: 24px;
  padding: 30px;
  margin-top: 10px;
}

body .portofolio header .pages i {
  color: white;
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
  transition: 0.5s ease-in-out;
}

body .portofolio header .pages i:hover {
  transform: scale(3);
}

body .banner {
  height: 100vh;
  width: 100%;
  position: relative;
}

body .banner .parallax {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-attachment: fixed;
}

body .banner .parallax-first {
  background-image: url(/images/background1.jpg?2d2b98b1b8ed1898d76622aa8e9da0c6);
}

body .banner .parallax-second {
  background-image: url(/images/background1.jpg?2d2b98b1b8ed1898d76622aa8e9da0c6);
  background-repeat: no-repeat;
}

body .banner .parallax-third {
  background-image: url(/images/background1.jpg?2d2b98b1b8ed1898d76622aa8e9da0c6);
  background-repeat: no-repeat;
}

body .banner .author {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-align: center;
}

body .banner .author h1 {
  font-size: 42px;
  font-weight: 300;
}

body .banner .author h3 {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 300;
}

body .story,
body .my-work {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0;
}

@media (max-width: 1024px) {
  body .story,
  body .my-work {
    flex-direction: column;
  }
}

body .story .profile img {
  width: 400px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  body .story .profile {
    padding-top: 30px;
    text-align: center;
  }
}

body .story-description,
body .work-description {
  width: 50%;
}

@media (max-width: 1024px) {
  body .story-description,
  body .work-description {
    width: 100%;
  }
}

body .story-description h3,
body .work-description h3 {
  font-size: 35px;
  padding-bottom: 30px;
}

body .story-description p,
body .work-description p {
  padding: 20px 0;
  font-size: 20px;
}

body .my-work .work-gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
}

@media (max-width: 1024px) {
  body .my-work .work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

body .my-work .work-gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .nav-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: white;
  z-index: 1;
  color: black;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  justify-items: center;
  align-items: center;
  text-align: center;
  transform: translateY(-100%);
}

body .nav-open .contact {
  grid-column: 2/3;
}

body .nav-open .contact h3 {
  font-size: 28px;
  padding-bottom: 40px;
}

body .nav-open .contact p {
  font-size: 18px;
}

body #slide\ active {
  opacity: 1;
}

body #active {
  opacity: 1;
}

body .footer {
  width: 100%;
  max-height: 80px;
  position: static;
  bottom: 0;
  background-color: #3A3E3B;
}

body .footer .social-media-links {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 15px;
}

body .footer .social-media-links a {
  font-size: 32px;
  padding: 0 20px;
  border-radius: 4px;
  height: 40px;
  width: 45px;
  position: relative;
  margin: 0 10px;
}

body .footer .social-media-links a i {
  position: absolute;
  left: 5px;
  bottom: 1px;
  transition: 0.3s ease-in;
}

body .footer .social-media-links a:hover i {
  transform: translateY(-4px);
  color: #F1F5F8;
}

body .footer .footer-text {
  padding: 0 10px;
}

body .footer .footer-text span {
  font-size: 12px;
  color: #F1F5F8;
}

body .session-wrapper {
  width: 300px;
  max-height: 100px;
  background-color: #D4EDDA;
  padding: 10px;
  text-align: center;
  opacity: 0;
  position: fixed;
  bottom: 50px;
  right: 30px;
}

body .right-banner-wrapper {
  width: 100%;
  height: 350px;
  margin-top: 87px;
}

body .right-banner-wrapper h3 {
  color: #435769;
  text-align: center;
  padding: 20px 0;
}

body .right-banner-wrapper .right-banner-list {
  padding: 0 15px;
}

body .right-banner-wrapper .right-banner-list ul a:hover li {
  color: #435769;
}

body .right-banner-wrapper .right-banner-list ul a li {
  margin-bottom: 10px;
  color: #3A3E3B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  transition: all 0.3s ease;
}

body .right-banner-wrapper .right-banner-list ul a li span {
  min-width: 35px;
  min-height: 35px;
  background-color: #DAE2EC;
  color: #435769;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  transition: all 0.3s ease;
}

body .right-banner-wrapper .right-banner-list ul a li span:hover {
  background-color: #98617d;
  color: #DAE2EC;
  transform: scale(1.2);
}

body .single-thread-wrapper {
  margin: 40px 0;
}

body .single-thread-wrapper .thread-body {
  width: 100%;
  max-height: 450px;
  background-color: #f5f9fc;
  padding: 50px 70px;
  overflow: auto;
  position: relative;
}

body .single-thread-wrapper .thread-body:hover .fa-ellipsis-v {
  opacity: 1;
}

body .single-thread-wrapper .thread-body span {
  font-size: 30px;
}

body .single-thread-wrapper .thread-body .thread-descript p {
  font-size: 18px;
}

body .single-thread-wrapper .thread-body .thread_actions {
  position: absolute;
  top: 10px;
  right: 7px;
  font-size: 25px;
}

body .single-thread-wrapper .thread-body .thread_actions i {
  color: #435769;
  opacity: 0;
}

body .single-thread-wrapper .thread-comment {
  margin: 40px 30px;
  overflow: hidden;
}

body .single-thread-wrapper .thread-comment .txtb {
  border-bottom: 1px solid #adadad;
  position: relative;
  margin-top: 30px;
  background-color: transparent;
}

body .single-thread-wrapper .thread-comment .txtb .login-form-span {
  pointer-events: none;
}

body .single-thread-wrapper .thread-comment .txtb .login-form-span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid #98617d;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

body .single-thread-wrapper .thread-comment .txtb input {
  width: 100%;
  height: 30px;
  font-size: 15px;
  color: #333;
  border: none;
  outline: none;
  background: none;
  padding: 0 3px;
}

body .single-thread-wrapper .thread-comment .txtb input:focus + .login-form-span:after {
  transform: translateX(0);
}

body .single-thread-wrapper .thread-comment .comment-form {
  width: 950px;
}

body .single-thread-wrapper .thread-comment .comment-form .save-comment {
  width: 20%;
  margin: 10px 0;
  position: absolute;
  right: 45px;
  top: 360px;
  background-color: #98617d;
  padding: 5px 30px;
  color: white !important;
  transition: all 0.3s ease;
}

body .single-thread-wrapper .thread-comment .comment-form .save-reply-btn {
  width: 100px;
  height: 40px;
  padding: 2px 5px;
  margin: 10px 0;
  font-size: 11px;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  padding-top: 20px;
  position: relative;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper:after {
  content: "";
  width: 50%;
  background-color: #98617d;
  top: 0;
  left: 50%;
  height: 2px;
  position: absolute;
  transform: translate(-50%, 0);
  display: block;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties {
  display: flex;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties .comment-cred {
  display: flex;
  flex-direction: column;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties .comment-cred .display-user_name {
  font-size: 13px;
  font-weight: 700;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties .comment-cred .display-comment-data {
  font-size: 14px;
  font-weight: 400;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties .comment-cred .comment-actions {
  width: 900px;
  position: relative;
  cursor: pointer;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties .comment-cred .comment-actions i {
  position: absolute;
  right: 90px;
  font-size: 12px;
  margin-top: 7px;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties .comment-cred .comment-actions i:nth-child(1) {
  color: red;
  margin-right: 20px;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .comment-properties img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px 10px 0 0;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .all_comments .reply-wrapper {
  padding: 0 0 10px 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #495057;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper .all_comments .reply-wrapper span:nth-child(1) {
  font-weight: bold;
}

body .single-thread-wrapper .thread-comment .comments-display-wrapper:hover .comment-actions i {
  color: white;
}

body .all-threads-wrapper {
  margin-top: 40px;
  position: relative;
}

body .all-threads-wrapper .all-threads-top {
  padding-bottom: 10px;
}

body .all-threads-wrapper .all-threads-top .leave-comment-btn {
  position: absolute;
  right: 0;
  top: -10px;
}

body .all-threads-wrapper .all-threads-top h3 {
  font-size: 25px;
  font-weight: 400;
}

body .all-threads-wrapper .all-threads-top .sort-threads-form {
  margin-top: -5px;
}

body .all-threads-wrapper .all-threads-top .sort-threads-form select {
  width: 80px;
  height: 40px;
  border: none;
  background-color: whitesmoke;
  margin: 0 15px;
  border-radius: 5px;
}

body .all-threads-wrapper h4 {
  font-size: 18px;
}

body .profile-wrapper {
  width: 100%;
  height: 100vh;
  margin: 40px 0;
  display: grid;
  grid-template-columns: 28% 70%;
  grid-column-gap: 2%;
}

body .profile-wrapper .profile-user-data {
  position: relative;
}

body .profile-wrapper .profile-user-data .image-section {
  width: 70%;
  height: 230px;
  position: relative;
}

body .profile-wrapper .profile-user-data .image-section:after {
  content: "";
  position: absolute;
  left: 20px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 3px solid #98617d;
  z-index: -1;
}

body .profile-wrapper .profile-user-data .image-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .profile-wrapper .profile-user-data .profile-user-name {
  margin-top: 50px;
  text-align: center;
}

body .profile-wrapper .profile-user-data .profile-user-name span {
  font-size: 30px;
  color: #435769;
}

body .profile-wrapper .profile-user-data .profile-actions {
  right: 0px;
  position: absolute;
  opacity: 1;
}

body .profile-wrapper .profile-user-data:hover .action-dots {
  opacity: 1;
}

body .profile-wrapper .profile-user-data .action-dots {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
}

body .profile-wrapper .profile-user-data .action-dots i {
  margin-top: 7px;
}

body .profile-wrapper .profile-data {
  max-height: 70vh;
  background-color: #F8F8F8;
  overflow: auto;
}

body .profile-wrapper .profile-data .btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

body .profile-wrapper .profile-data .btn-container .tab-btn {
  background-color: #DAE2EC;
  color: #102A42;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

body .profile-wrapper .profile-data .btn-container .tab-btn:hover:not(.active-tab) {
  background-color: #ebf7ff;
  color: #49a6e9;
}

body .profile-wrapper .profile-data .btn-container .active-tab {
  background-color: #F1F5F8;
}

body .profile-wrapper .profile-data .about-user .user-profile-content {
  display: none;
  padding: 10px;
}

body .profile-wrapper .profile-data .about-user .user-profile-content .user-threads > a,
body .profile-wrapper .profile-data .about-user .user-profile-content .user-comments > a {
  display: flex;
  flex-direction: column;
  color: #98617d !important;
}

body .profile-wrapper .profile-data .about-user .user-profile-content .user-threads > a:hover,
body .profile-wrapper .profile-data .about-user .user-profile-content .user-comments > a:hover {
  color: #435769 !important;
}

body .profile-wrapper .profile-data .about-user .user-profile-content .user-comments > h6 {
  font-size: 11px;
  color: #747b82;
}

body .dropdown-toggle:after {
  content: none;
}

body #mark_solution {
  color: red;
}

body .thread-list-wrapper {
  background-color: #98dfb6 !important;
}

body .thread-list-wrapper .posted-user-cred h6,
body .thread-list-wrapper .posted-user-cred span {
  display: flex;
  font-size: 12px;
  color: #747b82;
}

body .thread-list-wrapper .posted-user-cred h6 a {
  margin: 0 5px;
  color: #435769 !important;
}

body .thread-list-wrapper .posted-user-cred h6 a:hover {
  color: #698F3F !important;
}

body .reply-btn {
  width: 70px;
  height: 30px;
  background-color: #F1F5F8;
  font-size: 13px;
  padding: 5px 0;
  color: #435769;
  margin-bottom: 20px;
}

body .hide-reply-form {
  display: none;
}

body .thumb_up i {
  width: 25px;
  display: flex;
  justify-content: space-between;
  margin: 7px 0 10px 0;
}

body .thread_forms {
  margin-top: 40px;
  padding: 30px 0 50px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body .thread_forms form {
  width: 80%;
  margin: auto;
  padding-top: 5px;
}

body .thread_forms form .thread_form_btns {
  width: 100%;
  background-color: #98617d;
  padding: 5px 0;
  color: white;
  transition: all 0.3s ease;
}

body .thread_forms form .thread_form_btns:hover {
  background-color: #8fa8bf;
}

body .thread_forms .breadcrumbs {
  padding-left: 10%;
}

body .thread_forms .breadcrumbs .breadcrumbs_item {
  display: inline-block;
}

body .thread_forms .breadcrumbs .breadcrumbs_item:after {
  content: "\203A";
  margin: 0 5px;
  color: #747b82;
  font-size: 18px;
}

body .thread_forms .breadcrumbs .breadcrumbs_item:last-child:after {
  content: none;
}

body .thread_forms .breadcrumbs .breadcrumbs_item .breadcrumbs_link {
  font-size: 14px;
  color: #747b82 !important;
}

body .thread_forms .breadcrumbs .breadcrumbs_item .breadcrumbs_link_active {
  font-weight: 600 !important;
  color: #435769 !important;
}

body .notify-count-wrapper {
  position: relative;
}

body .notify-count-wrapper .drop-btn {
  cursor: pointer;
}

body .notify-count-wrapper .notify-count {
  position: absolute;
  top: -10px;
  left: 15px;
  font-size: 12px;
  opacity: 0;
  color: crimson;
}

body .dropdown-wrapper {
  position: absolute;
  top: 65px;
  right: 30px;
  display: flex;
  width: 320px;
  background: white;
  border-radius: 5px;
  display: none;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body .dropdown-wrapper .dropdown-menu-bar {
  position: relative;
  z-index: 100;
}

body .dropdown-wrapper .dropdown-menu-bar .notify_links a:hover {
  color: #98617d !important;
}

body .show-dropdown {
  opacity: 1;
}

body .active-tab {
  display: block !important;
}

body .authentication-section {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, #f5f7fc 100.2%);
}

body .authentication-section .basic-container {
  margin: 0 auto;
}

body .authentication-section .basic-container h1 {
  margin: 1em 0;
}

body .authentication-section .basic-container p {
  line-height: 1.7rem;
}

body .authentication-section .basic-container .inner {
  display: grid;
  grid-template-columns: 55% auto;
}

body .authentication-section .basic-container .inner .inner-left {
  padding: 1em;
  text-align: left;
  padding: 0 2em;
  height: 100vh;
  display: grid;
}

body .authentication-section .basic-container .inner .inner-left p,
body .authentication-section .basic-container .inner .inner-left h1 {
  color: white;
}

body .authentication-section .basic-container .inner .inner-left .content {
  padding: 0 3em;
}

body .authentication-section .basic-container .inner .inner-left .content h1 {
  font-size: 2.4em;
}

body .authentication-section .basic-container .inner .inner-left .content h1 span {
  display: block;
}

body .authentication-section .basic-container .inner .inner-left .content .light {
  color: rgba(255, 255, 255, 0.7) !important;
}

body .authentication-section .basic-container .inner .inner-right {
  justify-self: center;
  padding: 25px;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content {
  width: 350px;
  height: 500px;
  padding: 20px 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content h5 {
  padding-left: 40%;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content .form-actions {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content .form-check {
  margin-top: 15px;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content .form-button {
  margin-top: 25px;
  padding: 7px 10px;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content .form-check-label {
  font-size: 13px;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content .forgot-password {
  margin-top: 15px;
}

body .authentication-section .basic-container .inner .inner-right .inner-right-content .forgot-password a {
  font-size: 13px;
}

body .authentication-section .login-form {
  padding: 50px 10px !important;
}

body .authentication-section .proto-container {
  -webkit-clip-path: inset(0 45% 0 0);
          clip-path: inset(0 45% 0 0);
  position: absolute;
  top: 20%;
  height: 70%;
  z-index: 0;
  width: 100%;
}

body .authentication-section .proto-container .protos {
  width: 19%;
  height: 80%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  float: left;
  margin-left: 1em;
  transform: translateX(10%);
}

body .search-box {
  position: absolute;
  top: 30px;
  width: 250px;
  height: 30px;
  transition: 0.5s;
}

body .search-box button {
  position: absolute;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  color: grey;
  font-size: 14px;
  transition: 0.5s;
  box-shadow: -1px -1px 4px #edeff1, 1px 1px 5px #cacfd8;
}

body .search-box button:hover {
  transform: scale(1.1);
}

body .search-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 14px;
  padding-left: 20px;
  color: gray;
  transition: 0.5s;
  border: 1px solid lightgrey;
}

body .search-box input:focus {
  box-shadow: -3px -3px 7px #edeff1, 3px 3px 7px #cacfd8;
}

body .edit-comment {
  border-bottom: 1px solid lightgrey;
  transition: 0.5s;
}

body .edit-comment:focus {
  outline: none;
}

.active_link {
  font-weight: 600;
  color: #3A3E3B !important;
  opacity: 1 !important;
}

.pagination-wrapper {
  min-width: 40%;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.pagination-wrapper > ul {
  position: relative;
  background-color: #fff;
  display: flex;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.pagination-wrapper > ul > li {
  line-height: 50px;
  margin: 0 5px;
}

.pagination-wrapper > ul > li > .pagination-link {
  display: block;
  color: #777 !important;
  font-weight: 600;
  border-radius: 50%;
}

.pagination-wrapper > ul .pagination-page-number {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.pagination-wrapper > ul .pagination-page-number:hover > .pagination-link {
  background-color: whitesmoke !important;
  color: #fff;
}

.pagination-wrapper > ul .pagination-active {
  background-color: whitesmoke !important;
  color: #fff;
  border-radius: 50%;
}

.global-container {
  background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, #f5f7fc 100.2%);
}

.main-left-container {
  border-radius: 10px;
  padding: 10px 40px;
  margin: 30px 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
}

.main-right-container {
  background-color: white;
  border-radius: 10px;
  padding: 0 10px;
  margin: 87px 10px 0 0;
}

